<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infohub.project.boardHeartsMapper">

	<!-- 좋아요 추가 -->
	<insert id="insertHeart"
		parameterType="com.infohub.project.boardhearts.HeartsBoardVO">
		INSERT INTO heartsboard (loginNo, boardno, regiDate)
		VALUES (#{loginNo}, #{boardno}, NOW())
	</insert>

	<!-- 좋아요 취소 -->
	<delete id="deleteHeart"
		parameterType="com.infohub.project.boardhearts.HeartsBoardVO">
		DELETE FROM heartsboard
		WHERE loginNo = #{loginNo}
		AND boardno =
		#{boardno}
		<if test="commentId != 0">
			AND commentId = #{commentId}
		</if>
	</delete>

	<!-- 특정 게시글 좋아요 수 -->
	<select id="countHeartsByBoard" parameterType="int"
		resultType="int">
		SELECT COUNT(*) FROM heartsboard WHERE boardno = #{boardno}
	</select>

	<!-- 로그인한 유저 기준 좋아요 여부 -->
	<select id="isLiked" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM heartsboard
		WHERE boardno = #{boardno}
		AND loginNo = #{loginNo}
	</select>


	<!-- 특정 유저가 이미 좋아요 눌렀는지 확인 -->
	<select id="checkHeart"
		parameterType="com.infohub.project.boardhearts.HeartsBoardVO"
		resultType="int">
		SELECT COUNT(*) FROM heartsboard
		WHERE loginNo = #{loginNo}
		AND boardno
		= #{boardno}
		<if test="commentId != 0">
			AND commentId = #{commentId}
		</if>
	</select>

	<!-- 특정 게시글의 모든 좋아요 삭제 -->
	<delete id="deleteAllHeartsByBoardno" parameterType="int">
		DELETE FROM
		heartsboard
		WHERE boardno = #{boardno}
	</delete>

</mapper>
