<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infohub.project.BoardMapper">

	<select id="list" resultType="BoardVO">
		SELECT boardno, title, content,
		regiId AS regiId, regiDate, readcnt,
		login_loginNo,
		categoryboard_categoryId AS categoryId, subCategoryId
		FROM board
	</select>
	<!-- 전체 게시글 목록 -->
	<select id="selectBoardList" parameterType="map"
		resultType="com.infohub.project.board.BoardVO">
		SELECT boardno AS boardno,
		title AS title,
		content AS
		content,
		regiId AS regiId,
		regiDate AS regiDate,
		readcnt AS readcnt,
		login_loginNo AS loginLoginNo,
		categoryboard_categoryId AS categoryId,
		subCategoryId AS subCategoryId
		FROM board
		ORDER BY boardno DESC;
	</select>

	<!-- 연령대 카테고리 별 게시판 목록 -->
	<select id="getListByCategory" parameterType="int"
		resultType="com.infohub.project.board.BoardVO">
		SELECT *
		FROM board
		WHERE categoryboard_categoryId =
		#{categoryId}
		ORDER BY boardno DESC
	</select>

	<!-- 단일 게시글 조회 -->
	<select id="getDetail" parameterType="int" resultType="BoardVO">
		SELECT 
        b.boardNo,
        b.title,
        b.content,
        b.regiId,
        b.regiDate,
        b.readcnt,
        b.login_loginNo AS loginLoginNo,
        b.categoryboard_categoryId AS categoryId,
        b.subCategoryId,
        p.name AS categoryName, -- 대분류 이름
		c.name AS subCategoryName, -- 소분류 이름
        COALESCE(hc.heartCount, 0) AS heartCount
    FROM board b
    LEFT JOIN (
        SELECT boardNo, COUNT(*) AS heartCount
        FROM heartsboard
        GROUP BY boardNo
    ) hc ON b.boardNo = hc.boardNo
    LEFT JOIN categoryboard p ON b.categoryboard_categoryId = p.categoryId
    LEFT JOIN categoryboard c ON b.subCategoryId = c.categoryId
    WHERE b.boardNo = #{boardNo}
	</select>

	<!-- 조회수 1 증가하는 SQL "updateReadCnt" -->
	<update id="updateReadCnt" parameterType="java.lang.Integer">
		UPDATE board
		SET readcnt
		= readcnt + 1
		WHERE boardno = #{boardno}
	</update>


	<!-- 글쓰기 -->
	<insert id="register" parameterType="BoardVO"
		useGeneratedKeys="true" keyProperty="boardno">
		INSERT INTO board
		(title, content,
		regiId, regiDate, login_loginNo,
		categoryboard_categoryId,
		subCategoryId)
		VALUES
		(#{title}, #{content}, #{regiId}, NOW(),
		#{login_loginNo},
		#{categoryId}, #{subCategoryId})
	</insert>

	<!-- 수정하기 -->
	<update id="updateBoard"
		parameterType="com.infohub.project.board.BoardVO">
		UPDATE board
		SET title = #{title},
		content = #{content},
		categoryboard_categoryId = #{categoryId},
		subCategoryId =
		#{subCategoryId}
		WHERE boardNo = #{boardno}
		AND
		login_loginNo =
		#{login_loginNo} <!-- 본인 글만 수정 가능 -->
	</update>

	<!-- 삭제하기 -->
	<delete id="delete" parameterType="int">
		DELETE FROM board
		WHERE
		boardno = #{boardno}
		<!-- AND login_loginNo = #{login_loginNo} 본인 글만 수정 가능 로그인 구현하면 주석 없애기 -->
	</delete>


	<!-- 전체 최신 인기글 -->
	<select id="selectPopularBoards" resultType="BoardVO">
		SELECT b.boardNo,
		b.title,
		b.content,
		b.regiId,
		b.regiDate,
		b.readcnt,
		b.login_loginNo AS loginLoginNo,
		b.categoryboard_categoryId AS categoryId,
		b.subCategoryId,
		COALESCE(COUNT(h.heartId), 0) AS heartCount
		FROM board b
		LEFT JOIN heartsboard h ON b.boardNo = h.boardNo
		GROUP BY b.boardNo
		HAVING heartCount >= 3
		ORDER BY b.regiDate DESC
	</select>

	<!-- 연령카테고리별 최신 인기글 (좋아요 3개 이상, 최신순) -->
	<select id="selectPopularBoardsByCategory" parameterType="map"
		resultType="BoardVO">
		SELECT b.boardNo AS boardNo,
		b.title AS title,
		b.content AS
		content,
		b.regiId AS regiId,
		b.regiDate AS regiDate,
		b.readcnt AS
		readcnt,
		b.login_loginNo AS loginLoginNo,
		b.categoryboard_categoryId AS
		categoryId,
		b.subCategoryId AS subCategoryId
		FROM board b
		JOIN board_like
		bl ON b.boardNo = bl.board_boardNo
		WHERE b.categoryboard_categoryId =
		#{categoryId}
		AND bl.likeCount >= 3
		ORDER BY b.regiDate DESC
	</select>
</mapper>