<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infohub.project.BoardMapper">

	<!-- 전체 게시글 목록 -->
	<select id="selectBoardList" parameterType="map"
		resultType="com.infohub.project.board.BoardVO">
		SELECT boardno AS boardno,
		title AS title,
		content AS content,
		regiId AS regiId,
		regiDate AS regiDate,
		readcnt AS readcnt,
		login_loginNo AS loginLoginNo,
		categoryboard_categoryId AS categoryId,
		subCategoryId AS subCategoryId
		FROM board
		ORDER BY boardno DESC;
	</select>

	<!-- 연령대 카테고리 별 게시판 목록 -->
	<select id="getListByCategory" parameterType="int"
		resultType="com.infohub.project.board.BoardVO">
		 SELECT *
    FROM board
    WHERE categoryboard_categoryId = #{categoryId}
    ORDER BY boardno DESC
	</select>

	<!-- 단일 게시글 조회 -->
	<select id="selectBoardById" parameterType="int"
		resultType="com.infohub.project.board.BoardVO">
		SELECT boardNo AS boardNo,
		title AS title,
		content AS content,
		regiId AS regiId,
		regiDate AS regiDate,
		readcnt AS readcnt,
		login_loginNo AS loginLoginNo,
		categoryboard_categoryId AS categoryId,
		subCategoryId AS subCategoryId
		FROM board
		WHERE boardNo = #{boardNo}
	</select>

	<!-- 조회수 1 증가하는 SQL "updateReadCnt" -->
	<update id="updateReadCnt" parameterType="java.lang.Integer">
		UPDATE board
		SET readcnt = readcnt + 1
		WHERE boardNo = #{boardNo}
	</update>


	<!-- 글쓰기 -->
	<insert id="register" parameterType="BoardVO"
		useGeneratedKeys="true" keyProperty="BoardNO">
		INSERT INTO board
		(title, content, regiId, regiDate, readcnt, login_loginNo,
		categoryboard_categoryId, subCategoryId)
		VALUES
		(#{title}, #{content}, #{regiId}, NOW(), #{readcnt}, #{loginLoginNo},
		#{categoryId}, #{subCategoryId})
	</insert>

	<!-- 수정하기 -->
	<update id="updateBoard"
		parameterType="com.infohub.project.board.BoardVO">
		UPDATE board
		SET title = #{title},
		content = #{content},
		categoryboard_categoryId = #{categoryId},
		subCategoryId = #{subCategoryId}
		WHERE boardNo = #{boardNo}
		AND
		login_login_id = #{loginLoginId} <!-- 본인 글만 수정 가능 -->
	</update>

	<!-- 삭제하기 -->
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM board
		WHERE
		boardno = #{boardNo}
		AND
		login_login_id = #{loginLoginId} <!-- 본인 글만 수정 가능 -->
	</delete>


	<!-- 연령카테고리별 최신 인기글 (좋아요 3개 이상, 최신순) -->
	<select id="selectPopularBoardsByCategory" parameterType="map"
		resultType="com.infohub.project.board.BoardVO">
		SELECT b.boardNo AS boardNo,
		b.title AS title,
		b.content AS content,
		b.regiId AS regiId,
		b.regiDate AS regiDate,
		b.readcnt AS readcnt,
		b.login_loginNo AS loginLoginNo,
		b.categoryboard_categoryId AS categoryId,
		b.subCategoryId AS subCategoryId
		FROM board b
		JOIN board_like bl ON b.boardNo = bl.board_boardNo
		WHERE b.categoryboard_categoryId = #{categoryId}
		AND bl.likeCount >= 3
		ORDER BY b.regiDate DESC
	</select>
</mapper>