<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infohub.project.CategoryMapper">


    <!-- 1. 대분류만 조회 -->
    <select id="selectMainCategories" resultType="com.infohub.project.category.CategoryVO">
         SELECT category_id AS categoryId,
               name,
               parent_id AS parentId
        FROM category_board
        WHERE parent_id IS NULL
        ORDER BY category_id
    </select>

     <!-- 3. 소분류 카테고리 조회 -->
    <select id="selectSubCategories" resultType="com.infohub.project.category.CategoryVO">
      SELECT category_id AS categoryId,
           name,
           parent_id AS parentId
    FROM category_board
    WHERE parent_id = #{parentId}
    ORDER BY category_id
    </select>



</mapper>
