<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infohub.project.scrapsMapper">
	
	<select id="scrapsCount" resultType="int">
	select count(*) from scraps
	where article_articleId = #{article_articleId}
	</select>
	
	<select id="scrapsCheck" resultType="int">
	select count(*) from scraps
	where article_articleId = #{article_articleId}
	and login_loginNo = 2
	</select>
	
	<insert id="scrapsInsert">
	insert into scraps(createdDate, login_loginNo, article_articleId) values(now(), 2, #{article_articleId})
	</insert>
	
	<delete id="scrapsDelete">
	delete from scraps
	where article_articleId = #{article_articleId}
	and login_loginNo = 2
	</delete>
	
</mapper>