<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infohub.project.scrapsMapper">
	
	<select id="scrapsCount" resultType="int">
	select count(*) from scraps
	where article_article_id = #{article_article_id}
	</select>
	
	<select id="scrapsCheck" resultType="int">
	select count(*) from scraps
	where article_article_id = #{article_article_id}
	and login_login_id = 2
	</select>
	
	<insert id="scrapsInsert">
	insert into scraps(created_date, login_login_id, article_article_id) values(now(), 2, #{article_article_id})
	</insert>
	
	<delete id="scrapsDelete">
	delete from scraps
	where article_article_id = #{article_article_id}
	and login_login_id = 2
	</delete>
	


</mapper>