<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infohub.project.searchMapper"> <!-- 다음에 자바에서 호출해서 사용 -->

	
	<select id="read" resultType="article_searchDTO">
		select a.articleId, a.title, a.content, a.tags, a.published, a.source, a.views, a.hearts, a.image, a.login_loginNo, a.articlecategories_categoriesNo, b.name 
		from article a join articleCategories b on b.categoriesNo = a.articlecategories_categoriesNo
		where articleId = #{articleId}
		order by published desc;
		
	</select> 	
	 
	 <sql id="searchCondition">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and title like concat('%', #{keyword}, '%')
			</if>
			
			<if test="searchType == 'c'.toString()">
				and content like concat('%', #{keyword}, '%')
			</if>
						
			<if test="searchType == 'tc'.toString()">
				and (title like concat('%', #{keyword}, '%')
					or content like concat('%', #{keyword}, '%'))
			</if>
		</if>
	</sql>
	

	 	 
	<select id="slistPage" resultType="article_searchDTO">
		select a.articleId, a.title, a.content, a.tags, a.published, a.source, a.views, a.hearts, a.image, a.login_loginNo, a.articlecategories_categoriesNo, b.name 
		from article a join articleCategories b on b.categoriesNo = a.articlecategories_categoriesNo
		order by published desc
		limit #{pageStart}, #{perPageNum}
	</select>

	<select id="gettotalcount" resultType="int">
		select count(articleID)
		from article
		where articleID > 0
		<include refid="searchCondition"></include>
		order by published desc
		
	</select>

	<select id="listSearch" resultType="article_searchDTO">
		
		select a.articleId, a.title, a.content, a.tags, a.published, a.source, a.views, a.hearts, a.image, a.login_loginNo, a.articlecategories_categoriesNo, b.name 
		from article a join articleCategories b on b.categoriesNo = a.articlecategories_categoriesNo
		where articleId = #{articleID}
		<include refid="searchCondition"></include>	
        order by published desc   
        limit #{pageStart}, #{perPageNum}
	</select>
</mapper>


