<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.infohub.project.searchMapper"> <!-- 다음에 자바에서 호출해서 사용 -->

	
	<select id="read" resultType="SearchListAllDTO">
		select a.article_id, a.title, a.content, a.tags, a.published, a.source, a.views, a.hearts, a.image, a.login_login_id, a.article_categories_categories_id, b.name 
		from article a join article_categories b on b.categories_id = a.article_categories_categories_id
		where title = #{title} 
		order by published desc;
	</select> 	
	 
	 <sql id="searchCondition">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and title like concat('%', #{keyword}, '%')
			</if>
			
			<if test="searchType == 'c'.toString()">
				and content like concat('%', #{keyword}, '%')
			</if>
						
			<if test="searchType == 'tc'.toString()">
				and (title like concat('%', #{keyword}, '%')
					or content like concat('%', #{keyword}, '%'))
			</if>
		</if>
	</sql>
	

	 	 
	<select id="slistPage" resultType="SearchListAllDTO">
		select a.article_id, a.title, a.content, a.tags, a.published, a.source, a.views, a.hearts, a.image, a.login_login_id, a.article_categories_categories_id, b.name 
		from article a join article_categories b on b.categories_id = a.article_categories_categories_id
		order by published desc
		limit #{pageStart}, #{perPageNum};
	</select>

	<select id="gettotalcount" resultType="int">
		select count(article_id)
		from article
		where article_id > 0
		<include refid="searchCondition"></include>
		order by published desc;
		
	</select>

	<select id="listSearch" resultType="SearchListAllDTO">
		
		select a.article_id, a.title, a.content, a.tags, a.published, a.source, a.views, a.hearts, a.image, a.login_login_id, a.article_categories_categories_id, b.name 
		from article a join article_categories b on categories_id = article_categories_categories_id
		where article_id > 0
		<include refid="searchCondition"></include>	
        order by published desc   
        limit #{pageStart}, #{perPageNum};
	</select>
</mapper>

<!-- 
	<select id="searchlistAll" resultType="com.infohub.project.searchlistAll.SearchListAllDTO">
		SELECT a.*, b.name 
		FROM article a join article_categories b on article_categories_categories_id = categories_id 
		order by published desc;
	</select>
	

	<select id="listCriteria" resultType="com.infohub.project.searchlistAll.SearchListAllDTO">
		select *
		from article
		where article_id > 0
		order by article_id
		limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id = "countPaging" resultType="int">
		select count(article_id)
		from article
		where article_id > 0
		
	</select>
 -->


